In [9]:


import pandas as pd
import plotly.express as px

import streamlit as st
from pathlib import Path
import re

import sys
# display columns and rows settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [10]:
Main_file_path = Path.cwd().parent
Data_file_path = Main_file_path / 'data'
#Data_file = Data_file_path / 'Basic_Macro_Indicators.csv'
Data_file = Data_file_path / 'Basic_Macro_Indicators_Cleaned.csv'

In [11]:
#DIR_DATA =  Path.cwd().parents[1].joinpath("DSCBI_PROJECT", "data")
#FILE = DIR_DATA.joinpath("Basic_Macro_Indicators.csv")
# ==============================
def load_data(Data_file=Data_file):
    data = pd.read_csv(Data_file)
    return data
# ==============================
data = load_data()

In [ ]:
sectors = list(data["sector"].unique())

sectors = list([n for n in sectors if n not in ['Debt sector','Other memo items']])
subsectors = list(
    data[data["sector"].isin(sectors)]["subsector"]
)

components = data[
    data["sector"].isin(sectors) &
    data["subsector"].isin(subsectors)
]["component"].unique().tolist()

units = data[
    data["sector"].isin(sectors) &
    data["subsector"].isin(subsectors) & data["component"].isin(components)
]["unit"].unique().tolist()

years = data["year"].unique().tolist()
Actual = [n for n in years if n <= 2025]
projection = [n for n in years if n > 2025]

In [69]:
value = data.query('sector =="Real Sector" and subsector== "GDP and components" and component=="Real GDP" and unit == "Billion RWF, Level" and year==2025')["value"]

#value = metric["value"]
#print(value.2f)

In [70]:
if not value.empty:
    val = value.squeeze()
    print(val)
else:
    val = None  # or any default value you want
    print("No matching data found")

13371.0

In [13]:
def get_value(df, sector, subsector, component, unit, year):

    filtered = data.query(
        'sector == @sector and subsector == @subsector and component == @component and unit == @unit and year == @year'
    )["value"]

    if not filtered.empty:
        return filtered.squeeze()  # returns scalar if single value
    else:
        return None

In [ ]:
import pandas as pd
df = pd.read_excel(r"C:\Users\andrew.mushokambere\Downloads\Data.xlsx",sheet_name="Data")

,Series Name,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Mobile,Rwanda,0,0,0,0,0,0,0,0,0.063174,0.137335,0.474803,0.784352,0.980824,1.52232,1.55692,2.46261,3.37878,6.6507,13.4904,24.1466,34.3954,42.0494,52.5467,60.2989,68.167,75.2543,74.8502,72.2765,77.6795,75.5985,81.2379,81.6382,80.5952,91.4623,..
1,Mobile,Kenya,0,0,0.004461,0.004576,0.007615,0.008479,0.010233,0.023857,0.036915,0.079282,0.41577,1.89758,3.63815,4.72713,7.33478,12.8839,19.8903,29.8383,41.584,47.9215,60.0234,65.673,70.0227,70.7541,73.0327,80.0958,80.9772,87.0265,98.5945,106.548,117.603,122.298,121.169,120.612,..
2,Mobile,Uganda,0,0,0,0,0,0.008447,0.018824,0.022855,0.133111,0.242095,0.528801,1.14574,1.54041,2.94538,4.29039,4.70367,6.97652,14.1477,28.0124,29.8359,39.6047,50.0591,47.6343,51.1323,55.9572,53.8756,58.8634,62.0968,58.8754,59.0598,62.2824,65.6221,70.1401,76.2967,..
3,Mobile,Tanzania,0,0,0,0,0.001253,0.011453,0.029023,0.06355,0.116286,0.152091,0.322585,0.782879,1.68006,3.49964,5.09582,7.56468,13.9199,19.9153,30.5534,40.0364,46.8824,55.761,57.4558,56.2075,63.2804,76.2493,74.3984,71.7912,75.7302,80.5836,84.0051,86.0163,93.016,105.4,..
4,Mobile,Burundi,0,0,0,0.006354,0.006766,0.009506,0.00946,0.010449,0.010273,0.012945,0.252234,0.50368,0.762002,0.908684,1.37553,2.01653,2.54273,3.30806,5.65018,10.2904,17.8962,19.7015,22.3128,24.3007,29.5678,45.2379,47.6697,51.4533,53.2737,53.2996,52.5571,59.7008,56.26,63.1631,..

In [22]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
data.query('sector =="Real Sector" and subsector== "GDP and components" and component=="Real GDP"')
data.query('sector =="Real Sector" and subsector== "GDP and components" and component=="Real GDP"')

,sector,subsector,component,unit,year,value,datatype
2,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2011,5314.0,Actual
64,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2012,5773.0,Actual
126,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2013,6046.0,Actual
188,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2014,6418.0,Actual
250,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2015,6987.0,Actual
312,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2016,7404.0,Actual
374,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2017,7694.0,Actual
436,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2018,8350.0,Actual
498,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2019,9138.0,Actual
560,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2020,8830.0,Actual
622,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2021,9789.0,Actual
684,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2022,10588.0,Actual
746,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2023,11461.0,Actual
808,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2024,12480.0,Actual
870,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2025,13371.0,Actual
932,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2026,14367.0,Projection
994,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2027,15434.0,Projection
1056,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2028,16511.0,Projection
1118,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2029,17673.0,Projection
1180,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2030,18903.0,Projection

In [14]:
val = get_value(
    data, 
    sector="Fiscal sector", 
    subsector="Revenue", 
    component="Revenues incl. grants", 
    unit="Percentage of GDP",
    year=2025
)	

print(val)  # prints the value or None if not found

19.4

In [ ]:
data[data["sector"]=="Monetary sector"]

In [ ]:
#data.query('sector=="Real Sector" and subsector=="GDP and components" and year==2025')
data.query('sector=="Real Sector" and 	subsector=="Inflation and other prices" and year==2025')

data.query('sector=="Real Sector" ')

In [87]:
sectors

['Real Sector', 'External sector', 'Fiscal sector', 'Monetary sector']

In [46]:
#drop all unnamed columns
#data = data.loc[:, ~data.columns.str.contains('^Unnamed')]
#melting the dataframe
data_melted = data.melt(id_vars=['Sector', 'Subsector', 'Component'], var_name='Year', value_name='Value')

In [47]:
# searching and extracting everything between parentheses in a Component column and assign it to a new column 'Unit' and deleting it from Component column
data_melted['Unit'] = data_melted['Component'].str.extract(r'\((.*?)\)')
data_melted['Component'] = data_melted['Component'].str.replace(r'\s*\([^)]*\)', '', regex=True)

In [48]:
# bringing a Unit column next to Component column
cols = data_melted.columns.tolist()
cols.insert(3, cols.pop(cols.index('Unit')))
data_melted = data_melted[cols]
data_melted.head(3)

,Sector,Subsector,Component,Unit,Year,Value
0,Real Sector,GDP and components,Nominal GDP,"Billion RWF, Level",2011,"4,084"
1,Real Sector,GDP and components,Nominal GDP,"Million USD, Level",2011,"6,803"
2,Real Sector,GDP and components,Real GDP,"Billion RWF, Level",2011,"5,314"

In [49]:
# cleaning and removing spaces, commas and % in Value column
data_melted['Value'] = data_melted['Value'].str.replace('[%,]', '', regex=True).str.strip()

In [50]:
#checking the data types and converting Year and Value columns to appropriate data types
data_melted.dtypes
data_melted['Year'] = data_melted['Year'].astype(int)
data_melted['Value'] = pd.to_numeric(data_melted['Value'], errors='coerce')
data_melted.dtypes

Sector        object
Subsector     object
Component     object
Unit          object
Year           int64
Value        float64
dtype: object

In [55]:
#creating a new column colled Datatype and fill it with "Actual" where year is less than or equal to 2025 and "Projection" where year is greater than 2025
data_melted['Datatype'] = data_melted['Year'].apply(lambda x: 'Actual' if x <= 2025 else 'Projection')

In [59]:
#export the cleaned data to a new csv file
data_melted.to_csv(Data_file_path / 'Basic_Macro_Indicators_Cleaned.csv', index=False)